body{
	text-align: center;
}
.container{
	text-align: center;
	border : 2px solid black;
	font-family: arial;
	width: 600px;
	border-radius: 40px;
	overflow: auto;
	position: relative;
}
h2{
	opacity: 0.5;
}

img{
	width:200px;
	border-radius: 30px;

}
.cv{
	padding :5px;
}

ol li {
	text-align:  left;
}
.sosmed img{
	width :50px;
}

a:hover{
	opacity: 0.5;
	cursor: pointer;
}
table{
	border-spacing: 15px;
	padding :0px;
}
